# Ignore Python virtual environments
env/
.venv/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore OS/mac/Win system files
.DS_Store
Thumbs.db

# Streamlit secrets
.streamlit/secrets.toml
